{
  "$schema": "https://json.schemastore.org/swcrc",
  "minify": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "target": "es5",
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    },
    "minify": {
      "compress": true,
      "mangle": true,
      "format": {}
    }
  },
  "module": {
    "type": "commonjs"
  }
}
