* {
  padding: 0;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.bookmarklet-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.bookmarklet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.bookmarklet-link {
  color: white;
  text-decoration: none;
  background-color: deepskyblue;
  transition-property: background-color;
  transition-duration: 100ms;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.bookmarklet-link:hover {
  background-color: dodgerblue;
}
